@mixin icon($fileName, $width:null, $height:null, $format:svg) {
  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background-size: $width, $height;
    background-repeat: no-repeat;
    background-image: url('/assets/images/icon/' + $fileName + '.' + $format);
  }
}

@mixin iconMask($fileName, $color, $width:null, $height:null, $format:svg) {
  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: $width;
    height:$height;
    -webkit-mask-image: url('/assets/images/icon/' + $fileName + '.' + $format);
    mask-image: url('/assets/images/icon/' + $fileName + '.' + $format);
    background-color: $color;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
  }
}

@mixin focus($type:null) {
  @include prefix(transition, all .2s);
  &:focus { outline: 2px solid $color-point; }
  @if $type != img and $tyep != layer {
    &:hover { background-color: $color-sub; }
    &:active { background-color: $color-sub; }
  }
  @if $type == text {
    @include prefix(border-radius, 4px);
    &:focus { outline-offset: 4px; }
  }
  @if type == btn {
    &:focus { outline-offset: -2px; }
  }
}