$lineColor1: #27292d;
$lineColor2: #313540;
$lineColor3: #585b63;
$pure: #fff;
$fontColor80 : rgba($pure, 0.8);
$fontColor50 : rgba($pure, 0.5);
$fontColor20 : rgba($pure, 0.2);
$fontColor10 : rgba($pure, 0.1);

$grayText1: #5a5a6d;
$grayText2: #7f7f8d;

$color-bg: #161719; 
$color-sub: #222327;
$color-base: #1f2125;
$color-point: #2684ff;