// 스크롤 커스텀
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: $lineColor1;
}
::-webkit-scrollbar-thumb {
  background: $fontColor20;
  border: 2px solid $lineColor1;
}
::-webkit-scrollbar-thumb:hover {
  background: $fontColor50;
  cursor: grab;
}

// 레이아웃 커스텀 //

#main {
  @include flex(row, wrap, start, start);
  @include clearfix;
  -webkit-animation: $intro-transition;
  animation: $intro-transition;
  max-width: 100%;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
  background: $color-bg;
}

// 헤더 커스텀
#header {
  position: sticky;
  top: 0;
  width: 100%;
  height: $header-height;
  border-bottom: 2px solid $lineColor1;
  background: $color-bg;
  z-index: 100;
  .inner {
    @include flex(row, nowrap, between, center);
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1920px;
    width: 100%;
    height: 100%;
    @include r($narrow) {
      padding: 0 18px;
    }
    .site-logo {
      display: inline-block;
      img { max-height: 32px; }
    }
    .header-actions {
      @include flex(row, nowrap, between, center);
      gap: 6px;
      // 검색 기능
      .search-toggle {
        @include iconMask(ico-header-search, $pure, 24px, 24px);
        @include size(40px);
        border-radius: 6px; 
        cursor: pointer;
        &:before {
          @include aCenter;
          background: $fontColor50;
          @include transition(all, 0.2s, linear);
        }
        &:hover:before { background: $pure; }
      }
  
      // 번역 기능
      .trans-tool {
        @include size(40px);
        .trans-btn {
          @include iconMask(ico-header-translate, $fontColor50, 24px, 24px);
          @include size(40px);
          cursor: pointer;
          &:before { 
            @include aCenter;
            @include transition(all, 0.2s, linear);
          }
          &:hover:before { background-color: $pure; }
        }
        .overlay {
          display: none;
          position: fixed;
          @include aCenter;
          margin: unset;
          background-color: rgba(0, 0, 0, 0.5);
          opacity: 0;
          @include transition(opacity, 0.3s, ease);
          z-index: 10;
        }
        .trans-menu {
          @include flex(column, nowrap, center, center);
          z-index: 11;
          display: none;
          position: fixed;
          top: 50%;
          left: 50%;
          padding: 30px 0;
          width: 100%;
          max-width: 400px;
          border: 2px solid $lineColor1;
          border-radius: 10px;
          background: $color-base;
          @include translate(both, -50%, -50%);
          strong { 
            font-size: 1.8rem;
            font-weight: 500;
          }
          .trans-list {
            @include flex(column, nowrap, center, center);
            gap: 8px;
            margin-top: 20px;
            .trans-item {
              padding: 6px 0;
              cursor: pointer;
              font-size: 18px;
              font-weight: 500;
              color: $fontColor50;
              @include transition(all, 0.2s, linear);
              &:hover { color: $pure; }
              &.selected { color: $color-point; }
            }
          }
        }
      }

      //프로필
      .profile-wrapper {
        position: relative;
        @include flex(row, wrap, start, center);
        gap: 8px;
        .profile-image {
          .profile-zoom {
            overflow: hidden;
            @include size(42px);
            border-radius: 25px;
            background: #24a4f2;
            cursor: zoom-in;
            img {
              @include size(100%);
              object-fit: cover;
            }
          }
        }
        .profile-toggle {
          .profile-name {
            position: relative;
            padding-right: 14px;
            line-height: 20px;
            font-size: 14px;
            color: $fontColor80;
            &::after {
              content: '\f0d7';
              position: absolute;
              @include aCenter(vertical);
              right: 0;
              width: 8px;
              color: $fontColor50;
              font-family: $iconFont;
              font-weight: 700;
              font-size: 10px;
            }
          }
        }
        .profile-modal {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          z-index: -10;
          figure {
            overflow: hidden;
            @include size(40px);
            border-radius: 20px;
            background: #24a4f2;
            img {
              @include size(100%);
              object-fit: cover;
            }
          }
          &.zoom {
            position: fixed;
            @include flex(row, wrap, center, center);
            opacity: 1;
            @include aCenter;
            z-index: unset;
            .overlay {
              position: absolute;
              @include size(100%);
              background-color: rgba(0, 0, 0, 0.5);
              cursor: zoom-out;
            }
            figure {
              @include size(400px);
              border-radius: 200px;
              z-index: 10;
            }
          }
        }
      }
    }
  }
}

.layout--home,.layout--archive {
  #container {
    @include flex(row, wrap, start, start);
    padding-left: $sidebar-width;
    width: 100%;
    background: $color-base;
    @include transition(padding, 0.2s, linear);
    @include r(1270px) {
      padding-left: unset;
    }
  }
}
.layout--single {
  #container {
    @include flex(row, wrap, start, start);
    margin: 0 auto;
    padding-left: $sidebar-width;
    padding-right: $aside-width;
    max-width: 1920px;
    width: 100%;
    background: $color-base;
    @include transition(padding, 0.2s, linear);
    @include r(1270px) {
      padding-left: unset;
    }
  }
}

// 사이드바 커스텀
#sidebar {
  position: fixed;
  top: $header-height;
  left: calc((100% - 1920px) / 2);
  @include left($full, 0);
  width: $sidebar-width;
  height: calc(100vh - #{$header-height});
  border-right: 2px solid $lineColor1;
  background: $color-bg;
  @include transition(left, 0.2s, ease-out);
  @include r(1270px) {
    left: -100%;
  }
  // LNB
  .nav__list { 
    overflow-y: auto;
    height: calc(100vh - 80px);
    &::-webkit-scrollbar {
      width: 0px;
    }
    &:after {
      display: block;
      content: "";
      position: absolute;
      bottom: 80px;
      width: 100%;
      height: 140px;
      background: linear-gradient(to top, $color-bg, transparent);
    }
    .nav__items {
      overflow-y: auto;
      margin: 40px 20px 0 30px;
      max-height: calc(100vh - ($header-height + 80px));
      &::-webkit-scrollbar {
        width: 0px;
      }
      >li {
        &+li { margin-top: 24px; }
      }
      .nav__sub-title {
        @include flex(row, wrap, start, center);
        margin-bottom: 15px;
        padding-bottom: 15px;
        color: $fontColor80;
        font-family: $basicFont;
        font-size: 16px;
        font-weight: 500;
        border-bottom: 2px dotted #27292d;
      }
      .depth2 {
        position: relative;
        a {
          @include flex(row, wrap, between, center);
          padding: 0 10px;
          height: 36px;
          border-radius: 4px;
          color: $fontColor50;
          font-size: 14px;
          font-weight: 500;
          @include transition(all, 0.2s, linear);
          &.active {
            color: $pure;
            background: $color-point;
            >span { 
              background: #0057c9;
              opacity: 1;
            }
          }
          &:not(.active):hover { 
            color: $pure;
            background: $color-sub;
            >span { background: $color-bg; }
          }
          >span {
            display: block;
            padding: 4px 10px;
            border-radius: 4px;
            font-size: 12px;
            font-weight: 400;
            color: $pure;
            background: $color-sub;
            opacity: 0.5;
          }
        }
      }
    }
  }

  // 사이드바 하단 아이콘
  .author__urls-wrapper {
    position: absolute;
    bottom: 20px;
    width: 100%;
    .author__urls {
      @include flex(row, wrap, center, center);
      gap: 16px;
      padding-left: unset;
      list-style: none;
      >li {
        >a { 
          @include flex(row, wrap, center, center);
          @include size(40px);
          text-decoration: none;
          color: $fontColor50;
          font-size: 20px;
          border-radius: 6px; 
          background: $color-sub;
          @include transition(all, 0.05s, linear);
          &:hover { color: $pure; }
          .label { display: none; }
        }
      }
    }
    .btn--inverse { display: none; }
  }
}

// 포스트 커스텀 //
// 카테고리 목록 화면
.archive {
    overflow-y: auto;
    margin: 0 auto;
    padding: 40px;
    max-width: 900px; 
    max-height: calc(100vh - #{$header-height});
    min-height: calc(100vh - #{$header-height});
  .archive__item {
    a {
      color: #ddd;
      text-decoration: unset;
      font-size: 24px;
      &:hover { color: mix(#000, $color-point, 25%) }
    }
    .page__meta {
      color: $grayText1;
      font-size: 14px;
    }
    .archive__item-excerpt {
      color: $grayText2;
      font-size: 16px;
    }
  }
}

.navicon {
  background: $pure;
  &:before, &:after { background: $pure; }
}

.pagination {
  li {
    >a {
      &.current {
        color: $pure; 
        background: $color-point;
      }
    }
  }
}

// 포스트 상세 화면
article.page {
  padding: 40px;
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  min-height: calc(100vh - #{$header-height});
  .page-wrap {
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    >header {
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-bottom: 2px solid $lineColor1;
      .category-name {
        display: block;
        margin-bottom: 40px;
        padding-left: 40px;
        font-size: 26px;
        @include icon(ico-header-title, 26px, auto);
        &:before {
          content: '';
          left: 0;
          @include size(26px, 20px);
        }
      }
      .breadcrumbs {
        padding: unset;
        max-width: unset;
        >ol { 
          @include flex(row, wrap, start, center);
          gap: 8px;
          margin-top: unset;
          width: 100%;
          text-align: center;
          >li { 
            position: relative;
            line-height: 20px;
            color: $fontColor50;
            letter-spacing: 0.03em;
            font-size: 15px;
            &+li {
              padding-left: 18px;
              &:before { 
                content: "\f054";
                position: absolute;
                display: block;
                font-family: $iconFont;
                font-weight: 900;
                font-size: 12px;
                top: 0;
                left: 0;
              }
            }
            .current {
              font-weight: 500;
              color: $pure;
            }
          }
        }
        i { 
          font-size: 14px;
          line-height: 20px;
          &.home { color: $color-point; }
          &.breadArrow { color: $lineColor3;}
        }
        .home {
          span[itemprop="name"] { display: none; }
        }
        .sep { display: none; }
      }
      .page-title { 
        margin: 20px 0 14px;
        font-size: 28px;
      }
      .page-header-meta {
        @include flex(row, wrap, between, center);
        position: relative;
        margin-bottom: unset;
        color: $fontColor50;
        font-size: 15px;
        .page-share {
          position: absolute;
          top: -12px;
          right: 0;
          @include size(46px);
          border-radius: 23px;
          background: $lineColor1;
          transition: height 0.5s 0.2s cubic-bezier(0.64, 0.01, 0.43, 1.25);;
          &.open { 
            height: 189px;
            padding-bottom: 5px;
            .share-toggle {
              background: $color-point;
              &:before { background: $pure; }
              &:after {
                content: "";
                display: block;
                position: absolute;
                @include aCenter;
                @include size(100%);
                border-radius: 24px;
                background: $color-point;
                z-index: -1;
                animation: share-ani 1.2s ease-in-out infinite;
              }
              @keyframes share-ani {
                from {
                  opacity: 0.4;
                }
                to {
                  opacity: 0;
                  scale: 1.4;
                }
              }
            }
            .share-list {
              top: 0;
              margin-top: 8px;
              .share-btn {
                opacity: 1;
                &.twitter {
                  &:hover { 
                    background: #24a4f2;
                    i { color: $pure; }
                  } 
                }
                &.facebook { 
                  top: 0;
                  &:hover { 
                    background: #415e9b;
                    i { color: $pure; }
                  }
                }
                &.linkedin { 
                  top: 0;
                  &:hover {
                    background: #1469c7;
                    i { color: $pure; }
                  }
                }
              }
            }
          }
          .share-toggle {
            @include iconMask(ico-post-share, $pure, 22px, 22px);
            @include size(46px);
            border-radius: 23px;
            @include transition(all, 0.2s, linear);
            cursor: pointer;
            z-index: 10;
            &:before {
              @include aCenter;
              background: $fontColor50;
              @include transition(all, 0.2s, linear);
            }
            &:hover:before { background: $pure; }
          }
          .share-list {
            position: relative;
            top: -44px;
            left: 50%;
            @include flex(column, wrap, center, center);
            gap: 8px;
            @include translate(x, -50%);
            @include transition(all, 0.3s, 0.2s, ease-in-out);
            .share-btn {
              transition: 
                top 0.6s 0.2s cubic-bezier(0.64, 0.01, 0.07, 1.65),
                opacity 0.6s 0.2s cubic-bezier(0.64, 0.01, 0.07, 1.65),
                background-color 0.3s linear;
              position: relative;
              @include flex(row, wrap, center, center);
              @include size(36px);
              text-decoration: none;
              border-radius: 18px;
              background: $color-base;
              opacity: 0; 
              &.facebook { top: -44px; }
              &.linkedin { top: -88px; }
              i {
                font-size: 14px; 
                color: $fontColor50;
              }
            }
          }
        }
      }
    }
    .page-content,
    .page-meta {
      width: 100%;
    }
    .page-content {
      color: #929498;
      .section {
        & + .section { margin-top: 60px; }
        ol, ul {
          margin-top: 24px;
          padding-left: 20px;
          >li {
            list-style: auto;
            & + li { margin-top: 24px; }
          }
        }
      }
      .imageWrap {
        margin-top: 40px;
        & + * { margin-top: 40px; }
        .imageCaption {
          margin-top: 16px;
          width: 100%;
          color: $fontColor20;
          font-size: 14px;
          text-align: center;
        }
      }
      h3, h4, h5, h6 {
        color: $fontColor80;
        .header-link {
          position: relative;
          inset-inline-start: 0.5em;
          opacity: 0;
          font-size: 0.8em;
          @include transition(opacity, 0.2s, ease-in-out, 0.1s);
        }
        &:hover .header-link {
          opacity: 1;
        }
      }
      h3 { font-size: 22px; margin-bottom: 16px; }
      h4 { font-size: 18px; margin-bottom: 12px; }
      p { 
        line-height: 1.6;
        font-size: 16px;
      }
      ol {
        li {
          &::marker {
            color: $fontColor80;
          }
          &:has(> h3)::marker { font-size: 22px; }
          &:has(> h4)::marker { font-size: 18px; }
        }
      }
    }
    footer.page-footer-meta {
      margin-top: 40px;
      padding-top: 40px;
      border-top: 2px solid $lineColor1;
      .page-taxonomy {
        >strong {
          display: block;
          margin-bottom: 12px;
          font-size: 18px;
        }
        .category-list {
          @include flex(row, wrap, start, center);
          gap: 10px;
          li {
            @include flex(row, wrap, center, center);
            &:hover {
              a { color: $pure; }
            }
            >a {
              padding: 0 12px;
              font-size: 14px;
              font-weight: 400;
              line-height: 32px;
              color: $fontColor50;
              border-radius: 4px;
              border: 2px solid $lineColor1;
              background: $color-bg;
            }
          }
        }
      }
    }
  }
}

aside.aside {
  overflow-y: auto;
  position: fixed;
  top: $header-height;
  right: calc((100% - 1920px) / 2);
  @include right($full, 0);
  padding: 40px 30px 140px 30px;
  width: $aside-width;
  max-height: calc(100vh - #{$header-height});
  min-height: calc(100vh - #{$header-height});
  border-left: 2px solid $lineColor1;
  background: $color-bg;
  &::-webkit-scrollbar {
    width: 0px;
  }
  &:after {
    display: block;
    content: "";
    position: fixed;
    bottom: 0;
    width: calc(100% - 60px);
    height: 140px;
    background: linear-gradient(to top, $color-bg, transparent);
  }

  // 목차 커스텀
  .toc {
    margin-bottom: 40px;
    .toc-title {
      margin-bottom: 10px;
      font-size: 18px;
      font-weight: 500;
    }
    .toc-menu {
      @include flex(column, wrap, start, start);
      gap: 12px;
      li {
        @include flex(row, wrap, start, center);
        a {
          position: relative;
          color: $fontColor50;
          font-size: 14px;
          font-weight: 400;
          text-decoration: none;
          @include transition(all, 0.2s, ease-out);
          &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            @include aCenter(vertical);
            @include size(0px, 26px);
            border-radius: 2px;
            background: $fontColor20;
            @include transition(all, 0.2s, ease-out);
            z-index: -1;
          }
          &:hover {
            padding-left: 12px;
            color: $pure;
            &:before {
              @include size(3px, 26px);
              background: $pure;
            }
          }
        }
        &.active {
          a { 
            padding: 0 8px;
            color: $pure;
            &:before {
              @include size(100%, 26px);
              background: rgba($color-point, 0.7);
            }
          }
        }
      }
    }
  }

  // 하단 관련글
  .page__related {
    .page__related-title {
      // @include iconMask(ico-aside-related, $pure, 22px, 22px);
      margin-bottom: 12px;
      font-size: 18px;
      font-weight: 500;
      &::before { left: 0; }
    }
    .grid__wrapper {
      @include flex(column, wrap, start, start);
      gap: 20px;
      .grid-item {
        overflow: hidden;
        width: 100%;
        line-height: 1.5;
        border-radius: 8px;
        border: 2px solid $lineColor1;
        background: $color-base;
        >a {
          display: block;
          color: $fontColor50;
          &:hover .archive-item-title { color: $pure; }
          .archive-item-title {
            margin-top: 12px;
            padding: 0 16px;
            @include ellipsis(2);
            font-size: 16px;
            font-weight: 500;
            text-decoration: none;
          }
        }
        .page-meta {
          margin-top: 4px;
          padding: 0 16px 16px;
          color: $fontColor20;
          font-size: 14px;
        }
      }
    }
  }
}

// 메인
.contents {
  padding: 30px;
  margin: 0 auto;
  width: 100%;
  max-width: 1240px;
  min-height: calc(100vh - #{$header-height});
  @include r($narrow) {
    padding: 18px;
  }

  .home-title {
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 2px solid $lineColor1;
    color: $fontColor80;
    font-size: 26px;
  }
  .home-section {
    & + .home-section { margin-top: 80px; }
    >.title {
      margin-bottom: 20px;
      color: $fontColor80;
      font-size: 20px;
    }
    .category-swiper {
      padding: 10px;
      margin: -10px;
      .swiper-wrapper {
        // @include flex(row, wrap, start, center);
        .swiper-slide {
          >a {
            @include flex(column, wrap, start, start);
            padding: 20px 20px 12px;
            border-radius: 8px;
            background: $color-bg;
            @include transition(all, 0.2s, linear);
            &:hover {
              box-shadow: 0 5px 10px 4px $color-bg;
              transform: translateY(-5px);
            }
            &:active {
              transform: translateY(5px);
            }
            >img { 
              width: 30px;
            }
            strong {
              margin-top: 20px;
              color: $fontColor80;
              font-size: 16px;
            }
            span {
              margin-top: 6px;
              color: $fontColor20;
              font-size: 14px;
            }
          }
        }
      }
    }
  }

}

// 포스트 목록 레이아웃
.entries-grid {
  @include flex(row, wrap, start, stretch);
  gap: 20px;
  @include r(1024px) { gap: 18px; }
  .grid-item {
    width: calc(25% - 15px);
    height: 100%;
    @include r($middle) {
      width: calc((100% / 3) - 12px);
    }
    @include r($narrow) {
      width: calc(50% - 9px);
    }
    @include r(440px) {
      width: 100%;
    }
    >a { 
      @include flex(column, wrap, start, stretch);
      @include transition(all, 0.2s, linear);
      &:hover { 
        .archive-item-teaser {
          box-shadow: 0 5px 10px 4px $color-bg;
          transform: translateY(-5px);
        }
        .archive-item-title { color: $pure !important; }
      }
      &:active {
        .archive-item-teaser {
          transform: translateY(5px);
        }
      }
    }
    .archive-item-teaser {
      overflow: hidden;
      flex: 1;
      height: auto;
      border-radius: 8px;
      aspect-ratio: 16 / 9;
      @include transition(all, 0.2s, linear);
      >img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    strong {
      display: block;
      margin-top: 12px;
      font-size: clamp(1.4rem, 2vw, 1.6rem);
      color: $fontColor80;
      @include transition(all, 0.2s, linear);
    }
    .page-meta {
      margin-top: 4px;
      .page-meta-date {
        display: block;
        font-size: clamp(1.2rem, 2vw, 1.4rem);
        color: $fontColor20;
      }
    }
  }
}